---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "~/component/layout/BaseLayout.astro";
import BaseHeader from "~/component/ui/header/BaseHeader.astro";
import { css, sva } from "~/style/pandacss/css";

import DefaultEyeCatch from "./wallpaperflare.com_wallpaper.jpg";

const blogs = await getCollection("blog");

const stylesGenerater = sva({
  slots: ["main", "title", "articleList", "articleImage"],
  base: {
    main: {
      maxWidth: "80rem",
      marginX: "auto",
      display: "grid",
      gridAutoRows: "auto",
      placeItems: "center",
    },
    title: {
      textStyle: "notoH1",
      paddingY: "2rem",
    },
    articleList: {
      width: "100%",
      display: "grid",
      gridAutoRows: "auto",
      placeItems: "center",
    },
    articleImage: {
      maxWidth: "45rem",
      maxHeight: "40rem",
      objectFit: "contain",
    },
  },
});
const styles = stylesGenerater();
---

<BaseLayout title="blogs">
  <BaseHeader />
  <main class={styles.main}>
    <h1 class={styles.title}>ブログ</h1>
    <ul class={styles.articleList}>
      {
        blogs.map((v) => (
          <li>
            <div>
              <Image
                src={v.data.eyeCatch ?? DefaultEyeCatch}
                alt=""
                class={styles.articleImage}
              />
              <div
                slot="text"
                class={css({
                  display: "flex",
                  alignItems: "center",
                  justifyContent: "space-between",
                  width: "100%",
                })}
              >
                <div>{v.data.title}</div>
                <div>最終更新日:</div>
                <div>公開日:</div>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
