---
import { Image } from "astro:assets";
import { getBlogs } from "microcms/query/blogs";
import { isFailure } from "result";

import BaseLayout from "~/component/layout/BaseLayout.astro";
import { PUBLIC_AT, TITLE, UPDATED_AT } from "~/component/text";
import BaseHeader from "~/component/ui/header/BaseHeader.astro";
import { microCMS } from "~/config/microcms";
import { css, sva } from "~/style/pandacss/css";

const blogsResponse = await getBlogs(microCMS(), [
  "id",
  "eyecatch",
  "title",
  "publishedAt",
  "status",
]);

if (isFailure(blogsResponse)) {
  throw blogsResponse.cause;
}

const blogs = await Promise.all(
  blogsResponse.value.contents.filter((v) => v.status[0] === "公開"),
);

const stylesGenerater = sva({
  slots: ["main", "title", "articleList"],
  base: {
    main: {
      maxWidth: "80rem",
      marginX: "auto",
      display: "grid",
      gridAutoRows: "auto",
      placeItems: "center",
    },
    title: {
      textStyle: "notoH1",
    },
    articleList: {
      width: "100%",
      display: "grid",
      gridAutoRows: "auto",
      placeItems: "center",
    },
  },
});
const styles = stylesGenerater();
---

<BaseLayout title="blogs">
  <BaseHeader />
  <main class={styles.main}>
    <h1 class={styles.title}>{TITLE}</h1>
    <ul class={styles.articleList}>
      {
        blogs.map((v) => (
          <li>
            <div>
              <Image
                src={v.eyecatch.url}
                alt=""
                width={v.eyecatch.width ?? 40 * 16}
                height={v.eyecatch.height ?? 22.5 * 16}
                slot="image"
                class={css({
                  maxWidth: "40rem",
                  maxHeight: "22.5rem",
                  objectFit: "contain",
                })}
              />
              <div
                slot="text"
                class={css({
                  display: "flex",
                  alignItems: "center",
                  justifyContent: "space-between",
                  width: "100%",
                })}
              >
                <div>{v.title}</div>
                <div>最{UPDATED_AT}:</div>
                <div>{PUBLIC_AT}:</div>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
