---
import { getCollection } from "astro:content";

import BaseLayout from "~/component/layout/BaseLayout.astro";
import BaseHeader from "~/component/ui/header/BaseHeader.astro";
import { sva } from "~/style/pandacss/css";

import ImageWithContainer from "../../component/ui/image/ImageWithContainer.astro";
import { css } from "../../style/pandacss/css";

const blogs = await getCollection("blog");

const mainPaddingX = "2.5vw";
const stylesGenerater = sva({
  slots: [
    "main",
    "title",
    "articleList",
    "articleListItem",
    "articleLink",
    "article",
    "articleTexts",
  ],
  base: {
    main: {},
    title: {
      paddingY: "0.25em",
      textStyle: "notoH1",
      textAlign: "center",
    },
    articleList: {
      paddingX: mainPaddingX,
      display: "flex",
      flexDirection: "column",
      justifyContent: "start",
      alignItems: "center",
    },
    articleListItem: {
      width: "100%",
    },
    articleLink: {},
    article: {},
    articleTexts: {
      display: "flex",
      alignItems: "center",
      justifyContent: "space-between",
    },
  },
});
const styles = stylesGenerater();
---

<BaseLayout title="blogs">
  <BaseHeader />
  <main class={styles.main}>
    <h1 class={styles.title}>ブログ</h1>
    <ul class={styles.articleList}>
      {
        blogs
          .filter((v) => v.data.status === "public")
          .map((v) => (
            <li class={styles.articleListItem}>
              <a href={`/blog/${v.slug}`} class={styles.articleLink}>
                <div class={styles.article}>
                  <ImageWithContainer
                    src={
                      v.data.eyeCatch?.src ??
                      "https://picsum.photos/480/270.webp"
                    }
                    alt={v.data.eyeCatch?.alt ?? ""}
                    width="480"
                    height="270"
                    objectFit="cover"
                    containerWidth={css.raw({ width: "100%" })}
                    aspectRatio="16/9"
                    cssProps={css.raw({ hideFrom: "md" })}
                  />
                  <ImageWithContainer
                    src={
                      v.data.eyeCatch?.src ??
                      "https://picsum.photos/960/540.webp"
                    }
                    alt={v.data.eyeCatch?.alt ?? ""}
                    width="960"
                    height="540"
                    objectFit="cover"
                    containerWidth={css.raw({ width: "100%" })}
                    aspectRatio="16/9"
                    cssProps={css.raw({ hideBelow: "md" })}
                  />
                  <div class={styles.articleTexts}>
                    <div>{v.data.title}</div>
                  </div>
                </div>
              </a>
            </li>
          ))
      }
    </ul>
  </main>
</BaseLayout>
