---
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
    return await Promise.all(
        [...Array(100).keys()].map(async (_, i) => {
            const id = i + 1;
            const todo = await fetch(
                `https://jsonplaceholder.typicode.com/todos/${id}`
            );

            if (!todo.ok) {
                throw {
                    status: todo.status,
                    statusText: todo.statusText,
                    id: id,
                };
            }

            return {
                params: {
                    id,
                },
                props: (await todo.json()) as {
                    userId: number;
                    id: number;
                    title: string;
                    completed: boolean;
                },
            };
        })
    );
}

const { id } = Astro.params;
const props = Astro.props
---

<BaseLayout title={`todo${id}`}>
    <main>
        <div><span>User ID:{" "}</span><span>{props.userId}</span></div>
        <div><span>ID:{" "}</span><span>{props.id}</span></div>
        <div><span>title:{" "}</span><span>{props.title}</span></div>
        <div><span>Completed:{" "}</span><span>{props.completed}</span></div>
    </main>
</BaseLayout>
