---
import { Image } from "astro:assets";

import { sva } from "~/style/pandacss/css";

import Maguro from "./logo.png";

const stylesGenerator = sva({
  slots: ["link", "logo", "title", "header", "inner"],
  base: {
    header: {
      position: "sticky",
      zIndex: "100",
      backgroundColor: "rgba(0,0,0,0.05)",
      padding: "1rem",
    },
    inner: {
      maxWidth: "80rem",
      width: "100%",
      marginX: "auto",
    },
    link: {
      width: "fit-content",
      display: "grid",
      gridTemplateColumns: {
        base: "auto",
        md: "auto auto",
      },
      gap: "1rem",
      placeItems: "center",
    },
    logo: {
      width: "4rem",
      aspectRatio: "1",
      objectFit: "contain",
    },
    title: {
      textStyle: "notoH1",
      fontSize: "2rem",
      hideBelow: "md",
    },
  },
});
const styles = stylesGenerator();
---

<header class={styles.header}>
  <div class={styles.inner}>
    <a href="/" class={styles.link}>
      <Image src={Maguro} alt="" class={styles.logo} width={64} height={64} />
      <h1 class={styles.title}>止まれないフロントエンドエンジニア</h1>
    </a>
  </div>
</header>
