---
import BaseLayout from "@/layouts/BaseLayout.astro";

export const prerender = false;
const { id } = Astro.params;

const todo = await fetch(`https://jsonplaceholder.typicode.com/todos/${id}`);

if (!todo.ok) {
    switch (todo.status) {
        case 404: {
            return new Response(null, {
                // status: 404,
                // statusText: "Not found",
                status: 301,
                headers: { Location: "/404" },
            });
        }
        default: {
            throw {
                status: todo.status,
                statusText: todo.statusText,
                id: id,
            };
        }
    }
}

const props = (await todo.json()) as {
    userId: number;
    id: number;
    title: string;
    completed: boolean;
};
---

<BaseLayout title={`todo${id}`}>
    <main>
        <div><span>User ID:{" "}</span><span>{props.userId}</span></div>
        <div><span>ID:{" "}</span><span>{props.id}</span></div>
        <div><span>title:{" "}</span><span>{props.title}</span></div>
        <div><span>Completed:{" "}</span><span>{props.completed}</span></div>
    </main>
</BaseLayout>
